[staging-developer]
profile=datacamp-staging-developer
role_arn = arn:aws:iam::487088987264:role/datacamp-staging-developer

[prod-developer]
profile=datacamp-prod-developer
role_arn = arn:aws:iam::301258414863:role/datacamp-prod-developer

[staging-readonly]
profile=datacamp-staging-readonly
role_arn = arn:aws:iam::487088987264:role/datacamp-staging-readonly

[prod-readonly]
profile=datacamp-prod-readonly
role_arn = arn:aws:iam::301258414863:role/datacamp-prod-readonly